<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/vue@next"></script>
    <title>Document</title>
</head>
<body>
    <div id="app">
        <img :src="sinImg" style="max-width:100vw;" v-if="sinImg">
        <br/>
        <select v-model="sinner" @change="displaySinner">
            <option v-for="(v, k) in sinners">{{k}}</option>
        </select>
    </div>

    <script>
        var app = Vue.createApp({
			data() {
			    return {
                    sinImg: "",
                    sinner: "",

                    materials: {
                        "DisCoin": {
                            image: "https://rui5.notion.site/image/https%3A%2F%2Fs3-us-west-2.amazonaws.com%2Fsecure.notion-static.com%2F44aad1d8-cd4c-49bb-8ed1-bfee4531fe5a%2Fa.png?table=block&id=b64501bc-6ec8-4f54-ae92-f5d9b301c007&spaceId=32af0eb0-18d7-4dbc-a094-2698997abaf8&width=250&userId=&cache=v2",
                            rarity: "Green",
                            notion: "https://rui5.notion.site/DisCoin-b64501bc6ec84f54ae92f5d9b301c007",
                        },
                        "Mania Essence": {
                            image: "https://rui5.notion.site/image/https%3A%2F%2Fs3-us-west-2.amazonaws.com%2Fsecure.notion-static.com%2F39405dd0-52c6-4be7-95f2-64a43f8685ac%2Fa.png?table=block&id=957c8783-cc8c-41b9-9efe-42d1430a75b4&spaceId=32af0eb0-18d7-4dbc-a094-2698997abaf8&width=250&userId=&cache=v2",
                            rarity: "Green",
                            notion: "https://rui5.notion.site/Mania-Essence-957c8783cc8c41b99efe42d1430a75b4",
                        },

                        "Consciousness Crystal": {
                            image: "https://rui5.notion.site/image/https%3A%2F%2Fs3-us-west-2.amazonaws.com%2Fsecure.notion-static.com%2F5ac0b150-3bbd-4245-9ce0-0472b0dada18%2Fa.png?table=block&id=087855b5-927b-461f-98fb-fb95ff4c1761&spaceId=32af0eb0-18d7-4dbc-a094-2698997abaf8&width=250&userId=&cache=v2",
                            rarity: "Gold",
                            notion: "https://rui5.notion.site/Consciousness-Crystal-087855b5927b461f98fbfb95ff4c1761",
                        },
                        "DisSea Corpses": {
                            image: "https://rui5.notion.site/image/https%3A%2F%2Fs3-us-west-2.amazonaws.com%2Fsecure.notion-static.com%2F71cbe04b-0cb6-4041-8193-eb59b8390792%2Fa.png?table=block&id=fddc1405-04d2-45ae-82c9-3572c34929d3&spaceId=32af0eb0-18d7-4dbc-a094-2698997abaf8&width=250&userId=&cache=v2",
                            rarity: "Purple",
                            notion: "https://rui5.notion.site/DisSea-Corpses-fddc140504d245ae82c93572c34929d3",
                        },
                        "DisSea Furor": {
                            image: "https://rui5.notion.site/image/https%3A%2F%2Fs3-us-west-2.amazonaws.com%2Fsecure.notion-static.com%2F82792891-7197-42ec-b0b4-6ee35faa6c99%2Fa.png?table=block&id=6263308f-89de-49f6-a378-251e0f1c4d3d&spaceId=32af0eb0-18d7-4dbc-a094-2698997abaf8&width=250&userId=&cache=v2",
                            rarity: "Purple",
                            notion: "https://rui5.notion.site/DisSea-Furor-6263308f89de49f6a378251e0f1c4d3d",
                        },
                        "DisSea Ravings": {
                            image: "https://rui5.notion.site/image/https%3A%2F%2Fs3-us-west-2.amazonaws.com%2Fsecure.notion-static.com%2F6454f251-4a99-4662-a8ef-af81c8e36119%2Fa.png?table=block&id=19f32ae0-259f-4174-9f1c-dde8f4969694&spaceId=32af0eb0-18d7-4dbc-a094-2698997abaf8&width=250&userId=&cache=v2",
                            rarity: "Purple",
                            notion: "https://rui5.notion.site/DisSea-Ravings-19f32ae0259f41749f1cdde8f4969694",
                        },

                        //Skill Module
                        "Skill Module I": {
                            image: "https://rui5.notion.site/image/https%3A%2F%2Fs3-us-west-2.amazonaws.com%2Fsecure.notion-static.com%2F81620d8b-017b-4a4b-9bb9-63894b4f0af6%2Fa.png?table=block&id=4703152c-be5d-443d-b80d-cfb13894c4a1&spaceId=32af0eb0-18d7-4dbc-a094-2698997abaf8&width=250&userId=&cache=v2",
                            rarity: "Ash",
                            notion: "https://rui5.notion.site/Skill-Module-I-4703152cbe5d443db80dcfb13894c4a1",
                        },
                        "Skill Module II": {
                            image: "https://rui5.notion.site/image/https%3A%2F%2Fs3-us-west-2.amazonaws.com%2Fsecure.notion-static.com%2Fd54467ca-50f3-4eff-a756-657ff5f0ad01%2Fa.png?table=block&id=52359ba9-24dc-4c06-9806-b9c18098ff7a&spaceId=32af0eb0-18d7-4dbc-a094-2698997abaf8&width=250&userId=&cache=v2",
                            rarity: "Green",
                            notion: "https://rui5.notion.site/Skill-Module-II-52359ba924dc4c069806b9c18098ff7a",
                        },
                        "Skill Module III": {
                            image: "https://rui5.notion.site/image/https%3A%2F%2Fs3-us-west-2.amazonaws.com%2Fsecure.notion-static.com%2F4eb74337-24cc-4b1f-a037-aa34abd23e79%2Fa.png?table=block&id=03a6d4b4-ac22-4061-b1ea-c82b0671e046&spaceId=32af0eb0-18d7-4dbc-a094-2698997abaf8&width=250&userId=&cache=v2",
                            rarity: "Blue",
                            notion: "https://rui5.notion.site/Skill-Module-III-03a6d4b4ac224061b1eac82b0671e046",
                        },
                        "Skill Module IV": {
                            image: "https://rui5.notion.site/image/https%3A%2F%2Fs3-us-west-2.amazonaws.com%2Fsecure.notion-static.com%2F90e15ab3-9539-4d4b-9aa2-6a9bb15756ca%2Fa.png?table=block&id=d46466d4-121e-4306-9528-58a2884939ff&spaceId=32af0eb0-18d7-4dbc-a094-2698997abaf8&width=250&userId=&cache=v2",
                            rarity: "Purple",
                            notion: "https://rui5.notion.site/Skill-Module-IV-d46466d4121e4306952858a2884939ff",
                        },

                        // Others
                        "Arsenopyrite Raw Ore": {
                            image: "https://rui5.notion.site/image/https%3A%2F%2Fs3-us-west-2.amazonaws.com%2Fsecure.notion-static.com%2Fc8dbfd21-1f49-47c5-8cd8-af8f8452c158%2Fa.png?table=block&id=b7cdc7cb-6260-4484-ace0-3c2c13255dce&spaceId=32af0eb0-18d7-4dbc-a094-2698997abaf8&width=250&userId=&cache=v2",
                            rarity: "Ash",
                            notion: "https://rui5.notion.site/Arsenopyrite-Raw-Ore-b7cdc7cb62604484ace03c2c13255dce",
                        },
                        "Arsenopyrite Concentrate": {
                            image: "https://rui5.notion.site/image/https%3A%2F%2Fs3-us-west-2.amazonaws.com%2Fsecure.notion-static.com%2F51d74732-68e2-41d8-8afb-67ef807b072d%2Fa.png?table=block&id=bd4c3ccc-4ced-466f-8b25-59f6bcf2273e&spaceId=32af0eb0-18d7-4dbc-a094-2698997abaf8&width=250&userId=&cache=v2",
                            rarity: "Green",
                            notion: "https://rui5.notion.site/Arsenopyrite-Concentrate-bd4c3ccc4ced466f8b2559f6bcf2273e",
                        },
                        "Arsenopyrite Crystal": {
                            image: "https://rui5.notion.site/image/https%3A%2F%2Fs3-us-west-2.amazonaws.com%2Fsecure.notion-static.com%2Fccdcbf5a-d779-410c-a35b-49ba32ddffed%2Fa.png?table=block&id=e254c450-3bf0-4c18-94e1-89b51cf6075e&spaceId=32af0eb0-18d7-4dbc-a094-2698997abaf8&width=250&userId=&cache=v2",
                            rarity: "Blue",
                            notion: "https://rui5.notion.site/Arsenopyrite-Crystal-e254c4503bf04c1894e189b51cf6075e",
                        },
                        "Frosted Arsenopyrite Crystal": {
                            image: "https://rui5.notion.site/image/https%3A%2F%2Fs3-us-west-2.amazonaws.com%2Fsecure.notion-static.com%2Fa607c78e-45df-4029-897c-4a043e7a2e7f%2Fa.png?table=block&id=e005dd7c-518f-48ce-bd9a-4fba6e16b2bc&spaceId=32af0eb0-18d7-4dbc-a094-2698997abaf8&width=250&userId=&cache=v2",
                            rarity: "Purple",
                            notion: "https://rui5.notion.site/Frosted-Arsenopyrite-Crystal-e005dd7c518f48cebd9a4fba6e16b2bc",
                        },

                        "Red Stone Raw Ore": {
                            image: "https://rui5.notion.site/image/https%3A%2F%2Fs3-us-west-2.amazonaws.com%2Fsecure.notion-static.com%2Fcc12fc9a-8d67-4e70-b2b1-40ed5390a0d5%2Fa.png?table=block&id=9fc5edac-a643-425e-b099-45b4f1ae3324&spaceId=32af0eb0-18d7-4dbc-a094-2698997abaf8&width=250&userId=&cache=v2",
                            rarity: "Ash",
                            notion: "https://rui5.notion.site/Red-Stone-Raw-Ore-9fc5edaca643425eb09945b4f1ae3324",
                        },
                        "Red Stone Concentrate": {
                            image: "https://rui5.notion.site/image/https%3A%2F%2Fs3-us-west-2.amazonaws.com%2Fsecure.notion-static.com%2F0addca5e-7552-4f82-8ec1-cbb328e00579%2Fa.png?table=block&id=2d5504dc-059b-4190-98f8-f858aa15a317&spaceId=32af0eb0-18d7-4dbc-a094-2698997abaf8&width=250&userId=&cache=v2",
                            rarity: "Green",
                            notion: "https://rui5.notion.site/Red-Stone-Concentrate-2d5504dc059b419098f8f858aa15a317",
                        },
                        "Red Crystal": {
                            image: "https://rui5.notion.site/image/https%3A%2F%2Fs3-us-west-2.amazonaws.com%2Fsecure.notion-static.com%2F7b199b57-924a-46dc-9b99-9988b143fe8a%2Fa.png?table=block&id=7f4edd06-0258-4400-bb9c-aafd8c683bfd&spaceId=32af0eb0-18d7-4dbc-a094-2698997abaf8&width=250&userId=&cache=v2",
                            rarity: "Blue",
                            notion: "https://rui5.notion.site/Red-Crystal-7f4edd0602584400bb9caafd8c683bfd",
                        },
                        "Blood Red Crystal": {
                            image: "https://rui5.notion.site/image/https%3A%2F%2Fs3-us-west-2.amazonaws.com%2Fsecure.notion-static.com%2F4d151841-537d-4dc6-b9d1-d8643a1a5fe9%2Fa.png?table=block&id=97279b0c-8540-48a8-941b-3d0e4e477a5e&spaceId=32af0eb0-18d7-4dbc-a094-2698997abaf8&width=250&userId=&cache=v2",
                            rarity: "Purple",
                            notion: "https://rui5.notion.site/Blood-Red-Crystal-97279b0c854048a8941b3d0e4e477a5e",
                        },

                        "Broken Bone Shard": {
                            image: "https://rui5.notion.site/image/https%3A%2F%2Fs3-us-west-2.amazonaws.com%2Fsecure.notion-static.com%2Fcaacee27-8bcb-4dd0-9b52-048802a40d70%2Fa.png?table=block&id=24e62ec6-490e-47ef-b89f-1f8e74f9672c&spaceId=32af0eb0-18d7-4dbc-a094-2698997abaf8&width=250&userId=&cache=v2",
                            rarity: "Ash",
                            notion: "https://rui5.notion.site/Broken-Bone-Shard-24e62ec6490e47efb89f1f8e74f9672c",
                        },
                        "Organic Bone Shard": {
                            image: "https://rui5.notion.site/image/https%3A%2F%2Fs3-us-west-2.amazonaws.com%2Fsecure.notion-static.com%2F9952c799-5431-4f32-abd5-2007470eeb20%2Fa.png?table=block&id=0e60143d-7cb2-4365-818e-19965c852af6&spaceId=32af0eb0-18d7-4dbc-a094-2698997abaf8&width=250&userId=&cache=v2",
                            rarity: "Green",
                            notion: "https://rui5.notion.site/Organic-Bone-Shard-0e60143d7cb24365818e19965c852af6",
                        },
                        "Infected Bone Shard": {
                            image: "https://rui5.notion.site/image/https%3A%2F%2Fs3-us-west-2.amazonaws.com%2Fsecure.notion-static.com%2F458fd7b2-f10d-457d-b259-33a1fc816945%2Fa.png?table=block&id=eb830d1d-9cac-4263-af6e-f87c4a70d9b9&spaceId=32af0eb0-18d7-4dbc-a094-2698997abaf8&width=250&userId=&cache=v2",
                            rarity: "Blue",
                            notion: "https://rui5.notion.site/Infected-Bone-Shard-eb830d1d9cac4263af6ef87c4a70d9b9",
                        },
                        "Mutated Spiked Bone Shard": {
                            image: "https://rui5.notion.site/image/https%3A%2F%2Fs3-us-west-2.amazonaws.com%2Fsecure.notion-static.com%2Fd672f481-a367-40fd-90bf-8bea15c680f6%2Fa.png?table=block&id=fd7f4234-8fe6-4643-9426-720f5da89f2b&spaceId=32af0eb0-18d7-4dbc-a094-2698997abaf8&width=250&userId=&cache=v2",
                            rarity: "Purple",
                            notion: "https://rui5.notion.site/Mutated-Spiked-Bone-Shard-fd7f42348fe646439426720f5da89f2b",
                        },

                        "Broken Cyst": {
                            image: "https://rui5.notion.site/image/https%3A%2F%2Fs3-us-west-2.amazonaws.com%2Fsecure.notion-static.com%2F0b3daf7e-f326-427f-bcb7-c357b01af0ca%2Fa.png?table=block&id=10212392-d306-46e8-a56f-256547431606&spaceId=32af0eb0-18d7-4dbc-a094-2698997abaf8&width=250&userId=&cache=v2",
                            rarity: "Ash",
                            notion: "https://rui5.notion.site/Broken-Cyst-10212392d30646e8a56f256547431606",
                        },
                        "Organic Cyst": {
                            image: "https://rui5.notion.site/image/https%3A%2F%2Fs3-us-west-2.amazonaws.com%2Fsecure.notion-static.com%2Feea2dc66-f1af-461f-ab63-738c979cf2c9%2Fa.png?table=block&id=c64b2296-4ad7-46b8-9c5a-0597351c95ec&spaceId=32af0eb0-18d7-4dbc-a094-2698997abaf8&width=250&userId=&cache=v2",
                            rarity: "Green",
                            notion: "https://rui5.notion.site/Organic-Cyst-c64b22964ad746b89c5a0597351c95ec",
                        },
                        "Infected Cyst": {
                            image: "https://rui5.notion.site/image/https%3A%2F%2Fs3-us-west-2.amazonaws.com%2Fsecure.notion-static.com%2Fbc3b6e7f-f51e-4168-a176-dbdb01e2add6%2Fa.png?table=block&id=cfff018c-988a-4b85-bcf7-0679519b6884&spaceId=32af0eb0-18d7-4dbc-a094-2698997abaf8&width=250&userId=&cache=v2",
                            rarity: "Blue",
                            notion: "https://rui5.notion.site/Infected-Cyst-cfff018c988a4b85bcf70679519b6884",
                        },
                        "Mutated Red Cyst": {
                            image: "https://rui5.notion.site/image/https%3A%2F%2Fs3-us-west-2.amazonaws.com%2Fsecure.notion-static.com%2F02ef2093-f8c8-4060-86a3-8fd30bdf7412%2Fa.png?table=block&id=1ce82a90-323e-4955-ac70-8cf1e7c6ae33&spaceId=32af0eb0-18d7-4dbc-a094-2698997abaf8&width=250&userId=&cache=v2",
                            rarity: "Purple",
                            notion: "https://rui5.notion.site/Mutated-Red-Cyst-1ce82a90323e4955ac708cf1e7c6ae33",
                        },

                        "Broken Horn": {
                            image: "https://rui5.notion.site/image/https%3A%2F%2Fs3-us-west-2.amazonaws.com%2Fsecure.notion-static.com%2F759c7c17-c967-4a3b-a169-9ee2ca36ca99%2Fa.png?table=block&id=2a586bc8-d3fa-4f10-8d9d-940fe3bf2068&spaceId=32af0eb0-18d7-4dbc-a094-2698997abaf8&width=250&userId=&cache=v2",
                            rarity: "Ash",
                            notion: "https://rui5.notion.site/Broken-Horn-2a586bc8d3fa4f108d9d940fe3bf2068",
                        },
                        "Organic Horn": {
                            image: "https://rui5.notion.site/image/https%3A%2F%2Fs3-us-west-2.amazonaws.com%2Fsecure.notion-static.com%2F5aaad84b-dec0-4b25-836f-9a9ce302a729%2Fa.png?table=block&id=1afbfef8-9fff-4f77-b3d9-fa5a85a24daa&spaceId=32af0eb0-18d7-4dbc-a094-2698997abaf8&width=250&userId=&cache=v2",
                            rarity: "Green",
                            notion: "https://rui5.notion.site/Organic-Horn-1afbfef89fff4f77b3d9fa5a85a24daa",
                        },
                        "Infected Horn": {
                            image: "https://rui5.notion.site/image/https%3A%2F%2Fs3-us-west-2.amazonaws.com%2Fsecure.notion-static.com%2F520b9628-a552-473a-8236-36ff7657f94b%2Fa.png?table=block&id=9bb0cba5-4da5-428a-a727-97df7f5b914e&spaceId=32af0eb0-18d7-4dbc-a094-2698997abaf8&width=250&userId=&cache=v2",
                            rarity: "Blue",
                            notion: "https://rui5.notion.site/Infected-Horn-9bb0cba54da5428aa72797df7f5b914e",
                        },
                        "Mutated Spinous Horn": {
                            image: "https://rui5.notion.site/image/https%3A%2F%2Fs3-us-west-2.amazonaws.com%2Fsecure.notion-static.com%2F37ef14fc-64a0-430e-b5f9-d94159672953%2Fa.png?table=block&id=467628f6-dc6d-4380-a26a-769917221cdd&spaceId=32af0eb0-18d7-4dbc-a094-2698997abaf8&width=250&userId=&cache=v2",
                            rarity: "Purple",
                            notion: "https://rui5.notion.site/Mutated-Spinous-Horn-467628f6dc6d4380a26a769917221cdd",
                        },

                        "Bronze Raw Ore": {
                            image: "https://rui5.notion.site/image/https%3A%2F%2Fs3-us-west-2.amazonaws.com%2Fsecure.notion-static.com%2F2070c3a4-57ff-4d76-bfe7-900fc5fe327f%2Fa.png?table=block&id=7d58bc2d-1702-42d0-8400-bb287d6914db&spaceId=32af0eb0-18d7-4dbc-a094-2698997abaf8&width=250&userId=&cache=v2",
                            rarity: "Ash",
                            notion: "https://rui5.notion.site/Bronze-Raw-Ore-7d58bc2d170242d08400bb287d6914db",
                        },
                        "Bronze Concentrate": {
                            image: "https://rui5.notion.site/image/https%3A%2F%2Fs3-us-west-2.amazonaws.com%2Fsecure.notion-static.com%2F58fd0c72-44fa-418d-ba89-e6209911000a%2Fa.png?table=block&id=7b7e31e1-c718-4298-9c8a-73f7a1265901&spaceId=32af0eb0-18d7-4dbc-a094-2698997abaf8&width=250&userId=&cache=v2",
                            rarity: "Green",
                            notion: "https://rui5.notion.site/Bronze-Concentrate-7b7e31e1c71842989c8a73f7a1265901",
                        },
                        "Bronze Crystal": {
                            image: "https://rui5.notion.site/image/https%3A%2F%2Fs3-us-west-2.amazonaws.com%2Fsecure.notion-static.com%2F5b4a7f1b-6b4c-4049-8091-38f914876264%2Fa.png?table=block&id=9f476bee-3816-4aa8-bd48-2f60c3800b2f&spaceId=32af0eb0-18d7-4dbc-a094-2698997abaf8&width=250&userId=&cache=v2",
                            rarity: "Blue",
                            notion: "https://rui5.notion.site/Bronze-Crystal-9f476bee38164aa8bd482f60c3800b2f",
                        },
                        "Radiant Bronze Crystal": {
                            image: "https://rui5.notion.site/image/https%3A%2F%2Fs3-us-west-2.amazonaws.com%2Fsecure.notion-static.com%2Fd8d0cc7a-5366-4202-86bc-02719c444510%2Fa.png?table=block&id=76526482-3df5-4a70-bfe6-d3b5dc731d88&spaceId=32af0eb0-18d7-4dbc-a094-2698997abaf8&width=250&userId=&cache=v2",
                            rarity: "Purple",
                            notion: "https://rui5.notion.site/Radiant-Bronze-Crystal-765264823df54a70bfe6d3b5dc731d88",
                        },
                        
                        "Condense Gel": {
                            image: "https://rui5.notion.site/image/https%3A%2F%2Fs3-us-west-2.amazonaws.com%2Fsecure.notion-static.com%2F1587d148-5046-40cb-b31e-637543fbd1cc%2Fa.png?table=block&id=010304ce-dcba-4129-b806-c54d56e4ef1f&spaceId=32af0eb0-18d7-4dbc-a094-2698997abaf8&width=250&userId=&cache=v2",
                            rarity: "Ash",
                            notion: "https://rui5.notion.site/Condense-Gel-010304cedcba4129b806c54d56e4ef1f",
                        },
                        "Organic Gel": {
                            image: "https://rui5.notion.site/image/https%3A%2F%2Fs3-us-west-2.amazonaws.com%2Fsecure.notion-static.com%2Fc985f976-4eb1-4915-9666-ac2c3484ae2f%2Fa.png?table=block&id=6f76e22f-240d-4689-bd3c-3df616d20610&spaceId=32af0eb0-18d7-4dbc-a094-2698997abaf8&width=250&userId=&cache=v2",
                            rarity: "Green",
                            notion: "https://rui5.notion.site/Organic-Gel-6f76e22f240d4689bd3c3df616d20610",
                        },
                        "Infected Gel": {
                            image: "https://rui5.notion.site/image/https%3A%2F%2Fs3-us-west-2.amazonaws.com%2Fsecure.notion-static.com%2F092fd809-9b15-41a7-9e4f-378c31097c56%2Fa.png?table=block&id=4c9793b9-1464-4883-9a85-1b62c37e1468&spaceId=32af0eb0-18d7-4dbc-a094-2698997abaf8&width=250&userId=&cache=v2",
                            rarity: "Blue",
                            notion: "https://rui5.notion.site/Infected-Gel-4c9793b9146448839a851b62c37e1468",
                        },
                        "Mutated Dark Gel": {
                            image: "https://rui5.notion.site/image/https%3A%2F%2Fs3-us-west-2.amazonaws.com%2Fsecure.notion-static.com%2F9829bd25-b6a9-4eca-87b0-4114dd639334%2Fa.png?table=block&id=b1c00f58-eef0-401f-b979-13efe5012094&spaceId=32af0eb0-18d7-4dbc-a094-2698997abaf8&width=250&userId=&cache=v2",
                            rarity: "Purple",
                            notion: "https://rui5.notion.site/Mutated-Dark-Gel-b1c00f58eef0401fb97913efe5012094",
                        },
                        
                        "Ice Stone Raw Ore": {
                            image: "https://rui5.notion.site/image/https%3A%2F%2Fs3-us-west-2.amazonaws.com%2Fsecure.notion-static.com%2F91cb4465-1530-4ac7-a562-7e4e89bdf1cf%2Fa.png?table=block&id=4da41d35-21b1-4db2-ab30-b1ba44c41129&spaceId=32af0eb0-18d7-4dbc-a094-2698997abaf8&width=250&userId=&cache=v2",
                            rarity: "Ash",
                            notion: "https://rui5.notion.site/Ice-Stone-Raw-Ore-4da41d3521b14db2ab30b1ba44c41129",
                        },
                        "Ice Stone Concentrate": {
                            image: "https://rui5.notion.site/image/https%3A%2F%2Fs3-us-west-2.amazonaws.com%2Fsecure.notion-static.com%2F28127084-1a33-47be-863b-e9650aec1d0e%2Fa.png?table=block&id=b0ec154f-a544-4ed2-bf7c-50fc92f95c8c&spaceId=32af0eb0-18d7-4dbc-a094-2698997abaf8&width=250&userId=&cache=v2",
                            rarity: "Green",
                            notion: "https://rui5.notion.site/Ice-Stone-Concentrate-b0ec154fa5444ed2bf7c50fc92f95c8c",
                        },
                        "Ice Crystal": {
                            image: "https://rui5.notion.site/image/https%3A%2F%2Fs3-us-west-2.amazonaws.com%2Fsecure.notion-static.com%2F4d8e074f-ff4c-49a3-b003-e48207bb6105%2Fa.png?table=block&id=57fc3376-6f01-40e2-963a-64b074558448&spaceId=32af0eb0-18d7-4dbc-a094-2698997abaf8&width=250&userId=&cache=v2",
                            rarity: "Blue",
                            notion: "https://rui5.notion.site/Ice-Crystal-57fc33766f0140e2963a64b074558448",
                        },
                        "Cracked Ice Crystal": {
                            image: "https://rui5.notion.site/image/https%3A%2F%2Fs3-us-west-2.amazonaws.com%2Fsecure.notion-static.com%2F7e4f6042-a465-42f3-8029-1d550c955b96%2Fa.png?table=block&id=682a8a7d-8597-4fbf-a8cb-fb7671cc40fc&spaceId=32af0eb0-18d7-4dbc-a094-2698997abaf8&width=250&userId=&cache=v2",
                            rarity: "Purple",
                            notion: "https://rui5.notion.site/Cracked-Ice-Crystal-682a8a7d85974fbfa8cbfb7671cc40fc",
                        },
                        
                        "Twilight Stone Raw Ore": {
                            image: "https://rui5.notion.site/image/https%3A%2F%2Fs3-us-west-2.amazonaws.com%2Fsecure.notion-static.com%2Fd662499a-51ee-42a0-bbc8-244cfa6665ae%2Fa.png?table=block&id=bfeb35b8-1d13-42bc-8cc1-12273fe68a66&spaceId=32af0eb0-18d7-4dbc-a094-2698997abaf8&width=250&userId=&cache=v2",
                            rarity: "Ash",
                            notion: "https://rui5.notion.site/Twilight-Stone-Raw-Ore-bfeb35b81d1342bc8cc112273fe68a66",
                        },
                        "Twilight Stone Concentrate": {
                            image: "https://rui5.notion.site/image/https%3A%2F%2Fs3-us-west-2.amazonaws.com%2Fsecure.notion-static.com%2F63e0c46d-1f14-456f-96d6-c76c30f8fa56%2Fa.png?table=block&id=f78df4f1-5931-4ac7-a5e6-2a8370d2a430&spaceId=32af0eb0-18d7-4dbc-a094-2698997abaf8&width=250&userId=&cache=v2",
                            rarity: "Green",
                            notion: "https://rui5.notion.site/Twilight-Stone-Concentrate-f78df4f159314ac7a5e62a8370d2a430",
                        },
                        "Twilight Crystal": {
                            image: "https://rui5.notion.site/image/https%3A%2F%2Fs3-us-west-2.amazonaws.com%2Fsecure.notion-static.com%2Fe3f651cd-678e-4db3-a561-e941e29dbeb7%2Fa.png?table=block&id=f62272e2-295d-4ef0-a17d-69bc5b8abec1&spaceId=32af0eb0-18d7-4dbc-a094-2698997abaf8&width=250&userId=&cache=v2",
                            rarity: "Blue",
                            notion: "https://rui5.notion.site/Twilight-Crystal-f62272e2295d4ef0a17d69bc5b8abec1",
                        },
                        "Decaying Twilight Crystal": {
                            image: "https://rui5.notion.site/image/https%3A%2F%2Fs3-us-west-2.amazonaws.com%2Fsecure.notion-static.com%2Fa6d2ecc9-1daf-42b4-abbf-a3693b7c2152%2Fa.png?table=block&id=a6cbfe3b-e0ff-43b5-97ec-1a5540854020&spaceId=32af0eb0-18d7-4dbc-a094-2698997abaf8&width=250&userId=&cache=v2",
                            rarity: "Purple",
                            notion: "https://rui5.notion.site/Decaying-Twilight-Crystal-a6cbfe3be0ff43b597ec1a5540854020",
                        },
                        
                        "Elytra Shard": {
                            image: "https://rui5.notion.site/image/https%3A%2F%2Fs3-us-west-2.amazonaws.com%2Fsecure.notion-static.com%2F529239f2-390a-4737-a07a-030f4cf5eaf2%2Fa.png?table=block&id=2d872fff-c356-41d2-963a-d604fb1ed3a8&spaceId=32af0eb0-18d7-4dbc-a094-2698997abaf8&width=250&userId=&cache=v2",
                            rarity: "Ash",
                            notion: "https://rui5.notion.site/Elytra-Shard-2d872fffc35641d2963ad604fb1ed3a8",
                        },
                        "Organic Elytra": {
                            image: "https://rui5.notion.site/image/https%3A%2F%2Fs3-us-west-2.amazonaws.com%2Fsecure.notion-static.com%2F908c9ffd-baf1-4db9-a8d5-057c037814e3%2Fa.png?table=block&id=69e5fdc0-ea64-4e90-ac91-f0cf88c08747&spaceId=32af0eb0-18d7-4dbc-a094-2698997abaf8&width=250&userId=&cache=v2",
                            rarity: "Green",
                            notion: "https://rui5.notion.site/Organic-Elytra-69e5fdc0ea644e90ac91f0cf88c08747",
                        },
                        "Infected Elytra": {
                            image: "https://rui5.notion.site/image/https%3A%2F%2Fs3-us-west-2.amazonaws.com%2Fsecure.notion-static.com%2Fbe3e0930-a5b4-466a-b6f3-6efd0ca5dae4%2Fa.png?table=block&id=860ce924-c07b-4b16-bbf1-afd3bbbd0a74&spaceId=32af0eb0-18d7-4dbc-a094-2698997abaf8&width=250&userId=&cache=v2",
                            rarity: "Blue",
                            notion: "https://rui5.notion.site/Infected-Elytra-860ce924c07b4b16bbf1afd3bbbd0a74",
                        },
                        "Mutated Ghastly Shadow Elytra": {
                            image: "https://rui5.notion.site/image/https%3A%2F%2Fs3-us-west-2.amazonaws.com%2Fsecure.notion-static.com%2F142fd87e-4341-4251-8107-e4120960a630%2Fa.png?table=block&id=c3f3c42d-0702-4d99-980f-325bde205ac3&spaceId=32af0eb0-18d7-4dbc-a094-2698997abaf8&width=250&userId=&cache=v2",
                            rarity: "Purple",
                            notion: "https://rui5.notion.site/Mutated-Ghastly-Shadow-Elytra-c3f3c42d07024d99980f325bde205ac3",
                        },
                        
                        "Shriveled Tentacle": {
                            image: "https://rui5.notion.site/image/https%3A%2F%2Fs3-us-west-2.amazonaws.com%2Fsecure.notion-static.com%2F25762d80-d2eb-41bf-8bcb-c5a1ea61ee3c%2Fa.png?table=block&id=04341768-2365-4507-b751-9aa7b569e06d&spaceId=32af0eb0-18d7-4dbc-a094-2698997abaf8&width=250&userId=&cache=v2",
                            rarity: "Ash",
                            notion: "https://rui5.notion.site/Shriveled-Tentacle-0434176823654507b7519aa7b569e06d",
                        },
                        "Organic Tentacle": {
                            image: "https://rui5.notion.site/image/https%3A%2F%2Fs3-us-west-2.amazonaws.com%2Fsecure.notion-static.com%2Fb2e382f1-d099-49c9-a032-81c59b7468e8%2Fa.png?table=block&id=0bca14dd-42b9-46ce-b218-4790c3261c2e&spaceId=32af0eb0-18d7-4dbc-a094-2698997abaf8&width=250&userId=&cache=v2",
                            rarity: "Green",
                            notion: "https://rui5.notion.site/Organic-Tentacle-0bca14dd42b946ceb2184790c3261c2e",
                        },
                        "Infected Tentacle": {
                            image: "https://rui5.notion.site/image/https%3A%2F%2Fs3-us-west-2.amazonaws.com%2Fsecure.notion-static.com%2F0351c720-bdee-4855-b953-4bfc3e2fb999%2Fa.png?table=block&id=44387e90-5754-4bca-8ca4-e30e3ec7ebb2&spaceId=32af0eb0-18d7-4dbc-a094-2698997abaf8&width=250&userId=&cache=v2",
                            rarity: "Blue",
                            notion: "https://rui5.notion.site/Infected-Tentacle-44387e9057544bca8ca4e30e3ec7ebb2",
                        },
                        "Mutated Monstrous Tentacle": {
                            image: "https://rui5.notion.site/image/https%3A%2F%2Fs3-us-west-2.amazonaws.com%2Fsecure.notion-static.com%2F69f8a4ed-32da-4b18-bc25-bce8902c25c1%2Fa.png?table=block&id=6dce15df-bfb5-4edd-a217-36b7c6927282&spaceId=32af0eb0-18d7-4dbc-a094-2698997abaf8&width=250&userId=&cache=v2",
                            rarity: "Purple",
                            notion: "https://rui5.notion.site/Mutated-Monstrous-Tentacle-6dce15dfbfb54edda21736b7c6927282",
                        },
                    },


					sinners: {
                        "Adela": {
                            rank: "S",
                            p1: ["Phase 1 Umbra Elemental Particle", "Organic Cyst", "Twilight Stone Concentrate"],
                            p2: ["Phase 2 Umbra Elemental Fluid", "Infected Cyst", "Twilight Crystal"],
                            p3: ["Phase 3 Umbra Elemental Substance", "Mutated Red Cyst", "Decaying Twilight Crystal"],
                            skills: ["Tear Stone Raw Ore", "Tear Stone Concentrate", "Tear Crystal", "Misty Tear Crystal", "DisSea Ravings"],
                            image: "https://rui5.notion.site/image/https%3A%2F%2Fs3-us-west-2.amazonaws.com%2Fsecure.notion-static.com%2Fc92be90f-4586-41dc-9cbc-8f1e8286ec38%2FScreenshot_2023-07-05_224949.png?table=block&id=3398ff90-c242-4982-9bc2-7aa9c49f6964&spaceId=32af0eb0-18d7-4dbc-a094-2698997abaf8&width=2000&userId=&cache=v2"
                        }
                    }
			    };
			},
			methods: {
                displaySinner() {
                    this.sinImg = this.sinners[this.sinner]["image"];
                }
			},
	    });
        var vm = app.mount("#app");
    </script>
</body>
</html>
